@import "../global_theme.css";
@import "../layout.css";
@import "../sidebar.css";
@import "../modal.css";
@import "./timeline.css";

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--space-4);
  max-width: 1200px;
}